--- 
layout: layouts/base.njk
templateClass: tmpl-home
---
<style>
  {{"site/_includes/layouts/homepage/home.scss" | sass | safe}}
</style>

<section class="flex flex-col mx-auto container px-4 mt-16">
  <h2 class="text-2xl mb-8">Look at that! I wrote a few things :</h2>
  <section class="container mx-auto">
    {%- for post in collections.post | reverse -%}
    {% set index = loop.index %}
      {% include "components/mini-card/mini-card.njk" %}
    {%- endfor -%}
    <p class="mt-16 md:ml-40 md:pl-8">And there's more! I wrote a few <a href="/posts/" >more posts</a>.</p>
  </section>
</section>
