@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

/** GLOBAL CSS **/

body {
  background-color: var(--primary-color);
  color: var(--base-color);
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Fira;
  color: var(--accent-color);
}

a,
a:active,
a:focus,
a:link,
a:visited {
  color: var(--links-color);
}
