@import "utilities";
@import "fonts";

:root {
  --accent-color: #{$accent-color};
  --base-color: #{$base-color};
  --links-color: #{$links-color};
  --primary-color: #{$primary-color};
}

.article {
  h2 {
    font-size: 1.5rem;
  }
  p {
    margin: calc(1em + 0.5vw) 0;
    line-height: calc(1.5em + 0.2vw);
    word-break: break-word;
  }
}
