@import "utilities";
@import "fonts";

/** GLOBAL CSS **/

:root {
  --accent-color: #{$accent-color};
  --base-color: #{$base-color};
  --links-color: #{$links-color};
  --primary-color: #{$primary-color};
}

body {
  background-color: var(--primary-color);
  color: var(--base-color);
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Fira;
  color: var(--accent-color);
}

a,
a:active,
a:focus,
a:link,
a:visited {
  color: var(--links-color);
}

.article {
  h2 {
    font-size: 1.5rem;
  }
  p {
    margin: calc(1em + 0.5vw) 0;
    line-height: calc(1.5em + 0.2vw);
    word-break: break-word;
  }
}
