---
layout: layouts/base.njk
templateClass: tmpl-about
---

<section class="home flex flex-col md:flex-row items-center container mx-auto mb-12 px-4 w-1/2 mt-16">
  <picture class="w-64 mr-8">{% include "icons/hugo.njk" %}</picture>
  <article>
    <h2 class="text-2xl">Hello there!</h2>
    <p>This is the awkward bit where I talk about myself</p>
    <p>I've been dabbling in "the web" for more than 20 years. It began by looking under the hood with "view source" while building my first website in the school' server.</p>
    <p>For the past 10 years, I've been building websites and services professionally, and what a ride it has been. I've worked with startups and well established global companies, all with different challenges but all equally interesting.</p>
  </article>
</section>