<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or metadata.title }}</title>
  <link rel="manifest" href="/manifest.json" />
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/hugavatar-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/assets/icons/hugavatar-180x180.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/hugavatar-16x16.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/hugavatar-32x32.png" />
  <link rel="icon" type="image/png" sizes="96x96" href="/assets/icons/hugavatar-96x96.png" />
  {% if templateClass === 'tmpl-post' %}
  <meta property="og:type" content="article" />
  {% endif %}
  {% if templateClass !== 'tmpl-post' %}
  <meta property="og:type" content="website" />
  {% endif %}
  <meta property="og:title" content="{{ title or metadata.title }}" />
  <meta property="og:description" content="{{ summary or metadata.description }}" />
  <meta property="og:url" content="{{ metadata.url + page.url or metadata.url + '/' }}" />
  <meta property="og:site_name" content="Home of the Marabyte" />
  <meta property="og:image" content="{{ metadata.url + featured_image.src + '.png' or metadata.image }}" />
  <meta property="og:image:width" content="1280">
  <meta property="og:image:height" content="640">
  <meta property="og:image:alt" content="{{ featured_image.alt or metadata.imageAlt }}">
  <meta name="description" content="{{ summary or metadata.description }}">
  {# Twitter metadata #}
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:creator" content="@marabyte_">
  <meta property="twitter:url" content="{{metadata.url + page.url or metadata.url + '/' }}">
  <meta property="twitter:title" content="{{ title or metadata.title }}">
  <meta property="twitter:description" content="{{ summary or metadata.description }}">
  <meta property="twitter:image" content="{{ metadata.url + featured_image.src + '.png' or metadata.image }}">
  <meta property="twitter:image:alt" content="{{ featured_image.alt or metadata.imageAlt }}">
  <link rel="preload" href="/assets/fonts/firaMono-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <style>
    {{"site/_assets/styles/styles.scss" | sass | safe}}
  </style>
  <style>
    {{"site/_assets/styles/global.css" | tailwind | safe}}
  </style>
</head>