<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or metadata.title }}</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/hugavatar-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/assets/icons/hugavatar-180x180.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/hugavatar-16x16.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/hugavatar-32x32.png" />
  <link rel="icon" type="image/png" sizes="96x96" href="/assets/icons/hugavatar-96x96.png" />
  <meta name="description" content="{{ title or metadata.description }}">
  <link rel="preload" href="/assets/fonts/firaMono-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <style>
    {{"site/_assets/styles/styles.scss" | sass | safe}}
  </style>
  <style>
    {{"site/_assets/styles/global.css" | tailwind | safe}}
  </style>
</head>