<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or metadata.title }}</title>
  <meta name="description" content="{{ title or metadata.description }}">
  <link rel="preload" href="/assets/fonts/firaMono-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <script async="async" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <style>
    {{"site/_assets/styles/styles.scss" | sass | safe}}
  </style>
  <style>
    {{"site/_assets/styles/global.css" | tailwind | safe}}
  </style>
</head>