---
layout: layouts/base.njk
templateClass: tmpl-post
---

<style>
  {{"site/_includes/layouts/post.scss" | sass | safe}}
</style>
<article class="article px-4 md:px-0 container mx-auto max-w-xl">
  <header class="mb-4">
    <time datetime="{{date}}">{{date | date}}</time>
    <h1 class="font-bold text-2xl text-4xl mb-2 antialiased">{{title}}</h1>
    {% if thumbnail %}
      <img class="article__hero" loading="lazy" heigth="356" width="576" src="{{thumbnail | url}}">
    {% endif %}
  </header>
  <section class="leading-relaxed">
    {{ content | safe }}
  </section>
</article>