---
layout: layouts/base.njk
content: true
changeFreq: 0.8
---
<style>
  {{"site/_includes/components/card/card.scss" | sass | safe}}
</style>

<section class="mx-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-5">
{%- for post in collections.post | reverse -%}
{% set index = loop.index %}
  {% include "components/card/card.njk" %}
{%- endfor -%}
</section>