.article {
  h3 {
    font-size: 1.25rem;
    margin-top: 2.5em;
  }

  p {
    margin-top: calc(1em + 0.5vw);
  }

  :not(pre) > code {
    background: #2d2d2d;
    color: #f8c555;
    padding: 2px 4px;
  }

  li {
    list-style: inside;
    margin-bottom: 0.5rem;
  }

  table {
    width: 100%;
    thead, tr:not(:last-child) {
      border-bottom: 2px solid var(--accent-color);
    }
  }
}
