<style>
  {% css "site/_includes/components/footer/footer.css" %}
</style>
<footer class="footer container mx-auto mt-auto p-4 flex flex-col-reverse md:flex-row items-center">
  <small class="md:mr-auto">
    Marabyte 2021 | Built with
    <a href="https://www.11ty.dev/">11ty</a>
    and hosted on
    <a href="https://www.netlify.com/">Netlify</a>
  </small>
  <div class="flex mb-4 md:mb-0">
    <a class="ml-4" href="https://github.com/Marabyte">
      {% include "icons/github.njk" %}
    </a>
    <a class="ml-4" href="https://twitter.com/marabyte_">
      {% include "icons/twitter.njk" %}
    </a>
  </div>
</footer>