{%  switch index %}
{%      case 1 %}
{%          set gridType = 'sm:col-span-2' %}
{%      default %}
{%          set gridType = 'col-span-1' %}
{%  endswitch %}

<article class="postcard flex flex-col justify-center h-screen-w sm:h-screen-w-1/2 lg:h-screen-w-1/3 xxl:h-screen-w-1/5 bg-cover p-8 {{gridType}}" style="background-image:url({{post.data.featured_image.src}})">
    <header class="mb-auto">
        <a href="{{post.url}}"><h2 class="font-bold text-3xl mb-2 antialiased">{{post.data.title}}</h2></a>
    </header>
    <p class="-ml-4 mb-4 p-4">{{post.data.summary}}</p>
    <footer>
        <a href="{{post.url}}">Read more</a>
    </footer>
</article>
