{% switch index %}
{% case 1 %}
  {% set gridType = 'sm:col-span-2' %}
  {% default %}
  {% set gridType = 'col-span-1' %}
  {% endswitch %}

  <article class="postcard h-screen-w sm:h-screen-w-1/2 lg:h-screen-w-1/3 xxl:h-screen-w-1/5 bg-cover p-8 {{gridType}}" style="background-image:url({{post.data.featured_image.src}})">
    <a class="flex flex-col justify-center h-full" href="{{post.url}}">
      <h2 class="font-bold sm:text-3xl text-2xl mb-auto antialiased">{{post.data.title}}</h2>
      <p class="-ml-4 mb-4 p-4">{{post.data.summary}}</p>
    </a>
  </article>