<style>
  {{"site/_includes/components/header/header.scss" | sass | safe}}
</style>

<header class="header flex container mx-auto items-center justify-between p-4">
  <h3>
    <a href="{{ '/' | url }}">{{ metadata.title }}</a>
  </h3>
  <nav class="">
    <ul class="flex items-center">
      <li><a href="{{ '/about/' | url }}">About</a></li>
      {# <li>{% include "./../search/search.njk" %}</li> #}
    </ul>
  </nav>
</header>